<tr>
  <td><%= school_admin.first_name %></td>
  <td><%= school_admin.last_name %></td>
  <td><%= school_admin.email %></td>
  <td><%= school_admin.phone %></td>
  <td><%= link_to 'Show', school_admin %></td>
</tr>
