 <tr>
  <td><%= school.name %></td>
  <td><%= school.address %></td>
  <td><%= school.email %></td>
  <td><%= school.phone %></td>
  <td><%= school.website %></td>
  <td><%= link_to 'Show', school %></td>
  <% if can?(:edit, school)%>
    <td><%= link_to 'Edit', edit_school_path(school) %></td>
  <% end %>
  <% if can?(:destroy, School)%>
    <td><%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
