<%= form_with(model: @course, url: action, class: 'bootstrap-form') do |form| %>
  <%= render "shared/error", model_name: @course %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :duration %>
    <%= form.text_field :duration, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: 'form-control' %>
  </div>
  <%= form.hidden_field :school_id, value: @school&.id || @course.school.id%>

  <div class="actions">
    <%= form.submit text, class: "btn btn-primary"%>
  </div>
<% end %>
